/* MAIN HEADER --------------------------------------------*/

.main-header {
    background: white;
    border-color: transparent;
}

.navbar-header img {
    width: 150px;
    margin-top: 15px;
}

.navbar-left {
    margin-left: 70px;
}

.navbar-nav>li {
    margin-top: 15px;
}

 .navbar-default .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    color: black;
    font-weight: 600;
} 

.navbar-default .navbar-nav>li>a.btn-login {
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: dodgerblue;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent; 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
}

/* GOOGLE LOGIN SECTION -----------------------------------*/

.banner {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    padding-bottom: 50px;
}

.main-title {
    margin-top: 30px;
    margin-bottom: 70px;
}

.main-title h1 {
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

.main-title p {
    color: #bbcdff;
    font-size: 23px;
    text-align: left;
}

.box-g {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
}

.box-g h2 {
    text-align: center;
    font-weight: bolder;
}

.box-g h2:last-of-type {
    color: #006aff;
    margin-top: 0;
}

.form-control.placeholder-text {
    font-weight: bolder;
}

.btn-create {
    background-color:#579aff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-create a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.btn-sign {
    position: relative;
    box-shadow: 1px 2px 1px #e3e3e3;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-sign img {
    width: 18px;
    position: absolute;
    right: 93%;
    top: 25%;
}

.btn-sign a {
    color: #626262;
    font-weight: bolder;
    text-decoration: none;
}

.terms {
    text-align: center;
    margin-top: 20px;
}

.terms p {
    font-weight: bolder;
    font-size: 12px;
}

.terms p a {
    text-decoration: underline;
}

/* BRAND LOGOS SECTION ------------------------------------*/

.brands {
    background-color: #f3f5f9;
}

.brands h3 {
    color: #7b86a0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.brands h4 {
    color: #006aff;
    text-align: center;
    text-transform: none;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logos-img {
    text-align: center;
}

.logos-img .box-img {
    display: inline-block;
    height: 80px;
}

.logos-img .box-img img {
    max-width: 100%;
    height: 80px;
}

/* DEPLOY-SCALE SECTION -----------------------------------*/

.deploy {
    padding-top: 50px;
}

.deploy h2, h3 {
    text-align: center;
}

.deploy h2 {
    color: #031c4e;
    font-size: 40px;
    font-weight: bolder;
}

.deploy h3 {
    color: #75809a;
    font-size: 23px;
}

.deploy .row {
    padding-top: 50px;
}

.deploy .row .padding-top {
    padding-top: 0;
}

.col-menu {
    padding-left: 10px;
    border-left: 2px solid #cccccc;
}

.col-menu div {
    font-size: 20px;
    padding: 10px 0;
}

.col-menu div a {
    color: #5c6a88;
}

.deploy h4 {
    color: #031c4e;
    font-weight: bolder;
}

.deploy p {
    color: #75809a;
    font-size: 16px;
}

.nested .row {
    padding-top: 0;
}

/* SLIDE 1 SECTION ----------------------------------------*/

.slide-1 {
    background-color: #f3f5f9;
    text-align: center;
}

.slide-1 h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #031c4e;
    font-size: 40px;
    font-weight: bold;
}

.slide-1 h3 {
    padding-bottom: 40px;
    color: #5a6887;
    font-weight: bold;
    font-size: 20px;
}

.slide-img img {
    max-width: 60%;
}

.slide-img a i {
    font-size: 50px;
    padding: 20px;
}

.slide-img a:first-child {
    color: #6f7b97;
}

.slide-img a:last-child {
    color: #031c4e;
}

.slide-1 p {
    padding-top: 20px;
    color: #2a3f68;
    font-weight: bold;
    font-size: 16px;
}

.pages ul {
    padding-left: 0;
    padding-top: 20px;
}

.pages ul li {
    display: inline-block;
}

.circle {
    width: 15px;
    height: 15px;
    border: 1px solid dodgerblue;
    border-radius: 50%;
}

.filled {
    background-color: dodgerblue;
}

/* FEATURES SECTION ---------------------------------------*/

.features {
    padding-bottom: 80px;
}

.features h2 {
    text-align: center;
    padding: 50px 0;
    font-size: 35px;
    font-weight: bold;
    color: #031c4e;
}

.pricing h4 {
    color: #132a58;
    font-weight: bold;
    padding: 10px 0;
}

.pricing p:first-of-type {
    color: #63708d;
    font-weight: bold;
}

.pricing p:last-of-type {
    color: #006aff;
    font-weight: bold;
}

/* TABLE SECTION ------------------------------------------*/

.table-section {
    background-image: linear-gradient(90deg, #336cd0, #001e99)
}

.table-section h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 35px;
    padding-top: 50px;
}

.table-section .row {
    padding-bottom: 80px;
}

.table-section table {
    width: 100%;
    padding-bottom: 50px;
}

.table-section table tr:not(:last-child) {
    border-bottom: 1px solid white;
}

.table-section table td {
    padding: 10px;
}

.td-1 {
    color: white;
    font-weight: bolder;
}

.td-2 {
    color: #98aee0;
}

.td-3 {
    text-align: right;
}

.table-section table td a {
    color: #13bbcc;
    font-weight: bold;
}

/* SLIDE SECTION 2 ----------------------------------------*/

.slide-2 {
    background-color: #f3f5f9;
    padding-bottom: 60px;
}

.slide-2 h2 {
    text-align: center;
    padding: 80px 0;
    color: #031c4e;
    font-size: 40px;
    font-weight: bold;
}

.slide-2 .pages {
    text-align: center;
}

.box-img-2 {
    position: relative;
    text-align: center;
    background-color: white;
    width: 600px;
    margin: 0 auto;
}

.box-img-2 a {
    position: absolute;
    top: 45%;
    font-size: 50px;
}

.box-img-2 a:first-child {
    left: -30px;
    color: #6f7b97;
}

.box-img-2 a:last-child {
    right: -30px;
    color: #031c4e;
}

/* INSIDE BOX SETTINGS */

.box-img-2 img {
    padding-top: 80px;
    padding-bottom: 20px;
}

#quote {
    color: #5f6d8a;
    font-size: 20px;
    font-weight: bold;
}

#creator {
    color: #031c4e;
    font-size: 16px;
    font-weight: bolder;
}

#founder {
    color: #031c4e;
    font-size: 16px;
    font-weight: bold;
}

#story {
    color: #056dff;
    font-weight: bold;
    padding-bottom: 60px;
    cursor: pointer;
}

/* BOX MEDIA QUERY */

@media screen and (max-width:768px) {
    .box-img-2 {
        width: 300px;
    }
}

/* GET STARTED SECTION ------------------------------------*/

.get-start {
    background-image: linear-gradient(90deg, #336cd0, #001e99);
    text-align: center;
}

.get-start h2 {
    color: white;
    padding-bottom: 20px;
}

.get-start-box {
    padding-top: 50px;
    padding-bottom: 70px;
}

.get-start-box a {
    text-decoration: none;
}

.btn-start {
    color: #086fff;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

/* FOOTER -------------------------------------------------*/

footer {
    background-color: #031c4e;
}

.footer-padding {
    padding-top: 50px;
}

/* LOGO COLUMN */

.footer-logo img {
    padding: 10px 0;
}

.footer-logo p {
    margin: 0;
}

.footer-logo p:first-of-type {
    color: #8891a7;
}

.footer-logo p:last-of-type {
    color: #4c5c7d;
}

.footer-logo i {
    color: #7a859d;
    font-size: 25px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 15px;
}

/* COLUMNS */

.company h5, .products h5, 
.community h5, .support h5{
    color: white;
    font-weight: 800;
    padding-top: 30px;
}

.footer-box p a {
    color: #7b869e;
    font-weight: bold;
}